/* Full page */
.dashboard {
  background-color: black;
  min-height: 100vh;
  color: white;
}

/* 🔥 Navbar full width */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* spreads content */
  padding: 10px 20px;
  background-color: black; /* darker top bar */
}

/* Left section */
.nav-left {
  display: flex;
  align-items: center;
}

/* Logo */
.nav-logo {
  width: 300px;
  height: auto;
}

/* Center section */
.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search box */
.search-input {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 300px;
  background: #1e293b;
  color: white;
}

/* Content */
.dashboard-content {
  text-align: center;
  margin-top: 60px;
}