body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: black; /* clean background */
}

.app-container {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: flex-start;   /* stick to top */
  
  padding-top: 10px;         /* adjust as needed */
  
}

/* Logo */
.logo {
  width: 600px;
  height: auto;

  animation: beat 1.2s infinite ease-in-out;
}

/* Keyframes for heartbeat effect */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}